//Colors

$white:#fff;
$athens-gray:#e6e9ed;
$mine-shaft:#303030;
$shuttle-gray:#656d7a;
$trout:#4e5860;
$shark:#272d32;

//Image

$background-first-block:url('../images/img1.jpg');
$background-thrid-block:url('../images/img2.jpg');